@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Work+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}
:root{
    --font: 'Montserrat', sans-serif;
    --prime-font: 'Work Sans', sans-serif;
    --bg: #1a1c20;
    --main-color: #f9813a;
    --main-font-color: #fdfbfb;
    --sec-font-color: #fcf1f1b4;
}

body{
    background: var(--bg);
    font-family: var(--font);
    color: var(--main-font-color);
    overflow: hidden;
    max-width: 1900px;
    margin: 0 auto;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav
{
    width: 85%;
    height: 70px;
    margin: 0 auto;
    justify-content: space-between;
}
.checkBtn{
    display: none;
}
.nav .logo{
    font-size: 2em;
}
.nav ol{
    list-style: none;
}
.nav ol a{
    text-decoration: none;
    color: var(--sec-font-color);
    margin: 0.3em;
    padding: 0.5em 1.5em;
    border-radius: 10px;
}
.nav ol a:hover{
    transition: background .8s;
    background: var(--main-color);
}
.main{
    width: 85%;
    height: 650px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
}
.main::before, .main::after{
    content: '';
    width: 70%;
    height: 80%;
    background: #151618;
    position: absolute;
    bottom: 0;
    right: -10%;
    z-index: -10;
}
.main::after{
    background: #15161885;
    height: 80%;
    top: 20px;
    left: -10%;
    border-top: 1px solid #f9803a;
    border-right: 1px solid #4985c9;
    z-index: -11;
}
.box h1{
    font-size: 4.5em;
    margin-bottom: 0.2em;
}
.box p{
    font-size: 1.2em;
    color: var(--sec-font-color);
    margin-bottom: 1.2em;
}
.box .btn{
    font-size: 1.2em;
    background: none;
    color: var(--sec-font-color);
    border: none;
    cursor: pointer;
    border: 1px solid var(--main-color);
    width: 7em;
    height: 2.2em;
    transition: all .4s;
}
.box .btn:hover{
    background: var(--main-color);
}
.main img{
    width: 35em;
    position: absolute;
    right: 10%;
    z-index: -1;
}

@media (max-width: 1250px){
    .main img{ width: 25em; right: 0;}
}
@media (max-width: 1000px)
{
    body{ font-size: 14px;}
    .main img{ width: 35em; top: 80px}
    .main{ align-items: flex-end;}
    .checkBtn{
        display: block; width: 25px;
        height: 25px; cursor: pointer;
        position: relative; appearance: none;
        -webkit-appearance: none;
    }
    .checkBtn::before{
        content: '\f0c9'; font-family: 'Font Awesome 5 Free';
        font-weight: 700; font-size: 1.9em;
        color: var(--sec-font-color);
    }
    .checkBtn:checked::before{ content: '\f00d'}
    .nav ol{
        position: absolute; width: 100%;
        flex-direction: column; background: var(--bg);
        top: 80px; left: 0;
        z-index: 9999; padding: 1.2em;
        clip-path: polygon(0 0, 100% 0, 0 0); transition: clip-path .4s;
    }
    .checkBtn:checked ~ ol{clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);}
    .nav ol::before{
        content: ''; position: absolute;
        bottom: 0; left: 0;
        width: 100%; height: 5px;
        background: var(--main-color);
    }
}
@media (max-width: 900px){
    .main img{ width: 30em;}
}
@media (max-width: 600px){
    .mian img{
        width: 22em;
    }
}
@media (max-width: 400px){
    body{ font-size: 10px;}
    .main{  height: 450px;}
}

/* media style */
.wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
}
.wrapper .icon{
    position: relative;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.wrapper .icon i{
    color: #fff;
    transition: .4s linear;
}

.wrapper .icon::before,
.wrapper .icon::after{
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    transition: .4s linear;
}

.wrapper .icon:hover::before{
    border-radius: 50%;
    border-left: 4px solid;
    border-right: 4px solid;
    transform: skewY(-20deg);
    color: #fff;
}

.wrapper .icon:hover::after{
    border-radius: 50%;
    border-top: 4px solid;
    border-bottom: 4px solid;
    transform: skewX(-20deg);
    color: #fff;
}

.wrapper .tooltip{
    position: absolute;
    top: 0;
    font-size: 14px;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip{
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* Experince style */
.experience{
    /* border: 1px solid #f9813a; */
    width: 85%;
    margin: 0 auto;
    /* display: flex; */
    /* justify-content: space-between; */
    align-items: center;
    text-align: center;
    margin-top: 50px;
}
.experience .box-exp{
    /* border: 1px solid #f9813a; */
    /* width: 30%;
    height: 300px; */
    /* background: #15161885; */
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(21, 22, 24, 0.5);
    transition: all .4s;
    display: flex;
    justify-content: space-around;
    text-align: left;
    
}

.experience .box-exp .card{
    /* border: 1px solid #f9813a; */
    /* width: 100%;
    height: 100%; */
    /* background: #15161885; */
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: all .4s;
    /* display: inline; */
    /* display: flex; */
}

 .experience .box-exp .card:hover{
    background-color: rgba(21, 22, 24, 1);
    transform: translateY(-10px);
}
.experience .box-exp .card h2{
    font-size: 1.5em;
    margin-bottom: 0.5em;
}
.experience .box-exp p{
    font-size: 1em;
    color: var(--sec-font-color);
    margin-bottom: 0.5em;
}
.experience .box-exp .card ul{
    /* list-style: none; */
    padding-left: 1rem;
}

.experience .box-exp .card ul li{
    font-size: 1em;
    /* color: var(--sec-font-color); */
    margin-bottom: 0.5em;
}

/* projects style */

.projects{
    /* border: 1px solid #f9813a; */
    width: 85%;
    margin: 0 auto;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    text-align: center;
    margin-top: 50px;
}
.projects .box-pro{
    /* border: 1px solid #f9813a; */
    width: 30%;
    height: 300px;
    background: #15161885;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: all .4s;
    display: flex;
    justify-content: space-around;
    text-align: left;
    
}

.projects .box-pro .card{
    /* border: 1px solid #f9813a; */
    width: 100%;
    height: 100%;
    background: #15161885;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: all .4s;
    /* display: flex; */
}

 .projects .box-pro .card:hover{
    transform: translateY(-10px);
}

.projects .box-pro .card h2{
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.projects .box-pro p{
    font-size: 1em;
    color: var(--sec-font-color);
    margin-bottom: 0.5em;
}

.projects .box-pro .card ul{
    list-style: none;
}

.projects .box-pro .card ul li{
    font-size: 1em;
    /* color: var(--sec-font-color); */
    margin-bottom: 0.5em;
}
